@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8;
  --color-primary-hover: #1e40af;
  --color-bg-subtle: #f8fafc;
}

body {
  background-color: #f8fafc; /* subtle slate-50 */
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
